.SignUpForm{
    margin-bottom: 20px;
    padding: 20px;
    font-size: 1.2em;
    display: flex;
    color: #F4538A;
}

.SignUpForm Button {
    background-color: #FAA300;
    border: #FAA300;
}

.SignUpForm Button:hover {
    background-color: #F4538A;
    border: #F4538A;
}

.image {
    width: 70%;
}