.AboutUsPage{
    display: flex;
    justify-content: center;
}

.AboutUsPage .card{
    padding: 50px 80px;
    margin-top: 20px;
    text-align: center;
}

.AboutUsPage .card-title{
    text-align: center;
    font-size: 1.5em;
    color: #FAA300;
}

.Linkstyle{
    text-decoration: none;
    color: black;
}

