.TravelDetailsPage {
    margin: 30px auto;
}

.TravelDetailsPage h1 {
    color: #F4538A;
    width: 100%;
    text-align: center;
    margin: 20px auto;
    font-size: 2.5em;
    font-weight: 600;
}

.textContainer {
    font-size: 1.15em;
    font-weight: 350;
    border: none;
    text-align: justify;
}

.textContainer .card.body {
    width: 100%;
}

.textFavThemesContainer {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.favThemesContainer {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.textContainer {
    width: 90%;
}

.favThemesContainer Button {
    width: 40px;
}

.TravelDetailsRow {
    margin-bottom: 50px;
}

.card {
    border: none !important;
}

.buttonsContainer {
    display: flex;
    justify-content: space-evenly;
}

.theme {
    text-align: end;
    font-weight: 500;
}

.themeTitle {
    text-align: end;
    font-weight: 500;
    font-size: 1.1em;
}