.NewTravelFormPage {
    margin: 30px auto;
}

.NewTravelFormPage h1{
    margin: 30px auto;
    color: #F4538A;
    font-weight: 600;
}

.NewTravelFormPage Button {
    margin: 20px 0px 0px 0px;
    background-color: #FAA300;
    border: #FAA300;
    color: white;
}

.NewTravelFormPage Button:hover {
    margin: 20px 0px 0px 0px;
    background-color: #F4538A;
    border: #F4538A;
    color: white;
}
