.NavBar {
    font-size: 1.2em;
    text-decoration: none;
    color: #F4538A;
    height: 80px;
}



.NavBar a {
    text-decoration: none;
    color: #F4538A;
    margin: 0 20px;
    font-weight: 400;
    margin-top: 25px;
}

.NavBar a:hover {
    text-decoration: none;
    color: #FAA300;
    background-color: transparent
}

.NavBar .navbar-nav:hover {
    text-decoration: none;
    color: #FAA300;
}

.NavBar .nav-item.dropdown:hover .nav-link {
    color: orange;
}

.NavBar img {
    height: 90px;
}

.navBarTags {
    display: flex;
    justify-content: end;
    margin-right: 20px;
    align-items: baseline;
}