.UserProfilePage {
    margin: 30px auto;
}

.UserProfilePage h1{
    padding: 50px 0px 20px 0px;
    color: #FAA300;
    font-weight: 600;
}

.UserProfilePage h2 {
    padding: 10px 0px;
    color: #F4538A;
    font-weight: 600;
}


.TravelCard {
    width: 350px;
    height: 375px;
    margin: 30px auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cardImg {
    height: 250px;
}

.cardBody {
    height: 125px;
    font-size: 1.2em;

}

.LinkCard {
    text-decoration: none;
}

.cardText {
    margin-bottom: 3px;
}

.TravelCard .card-title {
    color: #FAA300;
}