.UserProfilePage {
    margin: 30px auto;
}


.TravelCard {
    width: 350px;
    height: 375px;
    margin: 30px auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cardImg {
    height: 250px;
}

.cardBody {
    height: 125px;
    text-align: center;
    font-size: 1.2em;

}

.LinkCard {
    text-decoration: none;
}

.cardTitle {
    text-align: center;

}

.cardText {
    margin-bottom: 3px;
}

.TravelCard .card-title {
    color: #FAA300;
}