.HomePage {
    margin: 20px 0px;
}

.coverImage {
    width: 100%;
    margin: 0px;
}

.HomePage h2 {
    font-size: 3em;
    padding: 40px 20px;
    color: #F4538A;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}

.Thailand {
    width: 40%;
    padding: 10px;
    justify-content: flex-start;
    float: left;
}

.Namibia {
    width: 50%;
    padding: 10px;
    justify-content: left;
}

.Brazil {
    width: 50%;
    padding: 10px;
    justify-content: right;
}

.favTrips {
    font-size: 2em;
    padding: 20px 0px 20px 0px;
    color: #FAA300;
    text-align: center;
    font-weight: 600;
}

.favTripsParagraf {
    font-size: 1.1em;
    padding-right: 20px;
    padding-left: 480px;
    text-align: center;
    font-weight: 400;
}

.Morocco {
    padding: 30px;
    width: 50%;
}

.phrase {
    display: flex;
}

.authoronly {
    font-size: 1em;
    text-align: center;
}

.phraseonly {
    padding: 200px 0px 0px 0px;
    font-size: 2em;
    text-align: center;
}