.ReviewsCard {
    margin-bottom: 20px;
    font-size: 1.2em;
    border-radius: 20;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.ReviewsCard .card-img-left {
    padding: 10px;
}

.ReviewsCard .card-body {
    flex-direction: column;
    display: flex;
    padding: 10px;
}

.LinkStyle {
    text-decoration: none;
    color: #F4538A;
}

.ReviewsCard .card-text {
    font-style: italic;
}

.ReviewsCard .card-title {
    font-size: 2em;
}

.ReviewsCard .btn-close {
    align-self: flex-end;
}

