.ReviewsCard {
    margin: 30px auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.ReviewsCard img {
    height: 30vh;
}

.ReviewsCard .card-body {
    flex-direction: column;
    display: flex;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    height: 30vh
}

.LinkStyle {
    text-decoration: none;
    color: #F4538A;
}

.ReviewsCard .card-text {
    font-style: italic;
}

.ReviewsCard .card-title {
    color:#F4538A
}

.ReviewsCard .btn-close {
    align-self: flex-end;
}

