.ReviewsCard:first-child {
    margin-bottom: 20px;
    font-size: 1.2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ReviewsCard .card-img-left {
    padding: 10px;
}

.ReviewsCard .card-body {
    flex-direction: column;
    display: flex;
    padding: 10px;
}

.LinkStyle {
    text-decoration: none;
    color: #F4538A;
}

.ReviewsCard .card-text {
    font-style: italic;
}

.ReviewsCard .card-title {
    font-size: 2em;
}

.ReviewsCard .btn-close {
    align-self: flex-end;
}

